<!DOCTYPE html>
<html>
<head>
  <title>Sharing Tester: Let's make your pages share like they should</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid" id="header"><%= render 'header'%></div>
		<div class="row-fluid" id="content"><%= yield %></div>
		<div class="row-fluid" id="footer"><%= render 'footer'%></div>
	</div>
</body>
</html>
